# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/
# VSCode
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Pygame caches (if any)
*.cache

# Ignore model files later if you save NN weights
weights/
models/